.named-color {
    background-color: blue;
    width: 200px;
    height: 100px;
}
.hex-color {
    background-color: #5438db;
    width: 200px;
    height: 100px;
}
.rgb-color {
    background-color: rgb(50, 150, 113);
    width: 200px;
    height: 100px;
}
    .rgba-color {
    background-color: rgba(50, 150, 113, 0.5);
    width: 200px;
    height: 100px;
}
.opacity-color {
    background-color: rgb(50, 150, 113);
    opacity: 0.5;
    width: 200px;
    height: 100px;
}
